* {margin:0;padding:0;cursor:default;image-rendering:pixelated;cursor:none !important;}
body, html {background-color:black;overflow:hidden;width:100%;height:100%;display:flex;justify-content:center;align-items:center;color:white;}